.container-register .input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    width: 99%;
    height: 15%;
    font-size: 1.4em;
    gap: 3px;
    /*border: 1px solid #0066FF;*/
}

.container-register .input-box {
    width: 99%;
    height: 90%;
    border: 1px solid #0066FF;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.5);
}