.input-login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 14px 0px;
    cursor: pointer;
    width: 100%;
    height: 30%;
    font-size: 1.4em;
    gap: 3px;
}

.input-box-login {
    width: 99%;
    height: 3em;
    border: 1px solid #0066FF;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.5);
}