
.input-big {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 5em;
    height: 100%;
    font-size: 1.4em;
    gap: 3px;
    padding: 0;
    margin-bottom: 0.5em;
}



.input-box-big {
    height: 4em;
    width: 97%;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: left; /* Aligns text to the left */
    resize: none; /* Prevents resizing */
    border: 1px solid #0066FF;
    padding: 0 0.5em;
}

.error {
    border: 1px solid #ff0000;
}